body {
  background-color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  color: #88acc3;
  margin: 0;
  padding: 10vh;
  padding-bottom: 20vh;
  font-size: 1.3vw;
  line-height: 1.5em; 
  font-weight: 200; }

p {
  margin-bottom: 10px; }

a, a:visited {
  color: #000000;
  text-decoration: none; }

ul {
  padding-left: 0px; 
  list-style-type: none;
  margin-bottom: 20px; }

section {
  box-sizing: border-box;
  margin: 10px auto;
  width: 35vw; }

#main {
  display: table; }

.title {
  font-size: 3vw;
  font-weight: bold; }

input {
  margin-top: 15vh;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 10px;
  font-size: 1.2em;
  width: 100%; }

*:focus {
    outline: none; }

iframe {
  width: 35vw;
  height: 30vh; }

.post {
  margin-top:13vh; }

.secondary_info {
  text-align: right; }
