p {
  margin-bottom: 10px; }

a, a:visited {
  color: #000000;
  text-decoration: none; }

/*a:hover {
  color: #A1B4FF; }*/

ul {
  padding-left: 0px; 
  list-style-type: none;
  margin-bottom: 20px;}

body {
  background-color: #ffd4d4;
  font-family: 'Helvetica', sans-serif;
  color: #cea8a8;
  margin: 0;
  padding: 40px;
  font-size: 1.3vw;
  line-height: 1.5em; 
  font-weight: 200; }

section {
  box-sizing: border-box;
  margin: 10px auto;
  width: 70vw; }

section#about #intro, h2 {
  font-size: 4vw;
  line-height: 1.2em; 
  color: #acc0df;
  font-weight: bold; }

.post {
  margin-top:50px; }
